/* =========================
   TABLET / SMALL LAPTOP
   ========================= */

@media only screen and (max-width: 1024px) {

    #products {
        grid-template-columns: repeat(3, 1fr);

        gap: 20px;

        padding: 15px;

        margin-top: 10px;
    }

    .container {
        padding: 6px 0;
    }
}


/* =========================
   TABLET
   ========================= */

@media only screen and (max-width: 768px) {

    #products {
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;

        padding: 15px;

        margin-top: 10px;
    }
}


/* =========================
   MOBILE
   ========================= */

@media only screen and (max-width: 430px) {

    #products {
        grid-template-columns: 1fr;
    }


    .head-outer {
        gap: 15px;

        font-size: 25px;

        padding: 10px 4px;

        letter-spacing: 1.5px;
    }


    .head-outer i {
        font-size: 25px;
    }


    .para2 {
        padding: 10px 5px;

        font-size: 14px;

        font-weight: 400;

        line-height: 1.5;

        letter-spacing: 0.5px;
    }


    #hr-id {
        width: 120px;

        margin: 5px auto;

        height: 4px;

        border: none;

        background: linear-gradient(to right,
                blue,
                purple);

        border-radius: 999px;
    }
}


/* =========================
   VERY SMALL MOBILE
   ========================= */

@media only screen and (max-width: 320px) {

    .head-outer {
        gap: 12px;

        font-size: 23px;

        padding: 8px;

        letter-spacing: 2px;

        line-height: 1.2;

        flex-direction: column;
    }


    .head-outer i {
        font-size: 30px;
        color: rgb(61, 61, 169) !important;
    }


    .para2 {
        padding: 6px 5px;

        font-size: 13px;

        line-height: 1.5;

        letter-spacing: 0.5px;
    }


    .container {
        border-radius: 13px;
    }


    #hr-id {
        width: 100px;
    }
}